@use './styles/variables.scss';

.App {
  text-align: center;
  background-color: variables.$primary-background-color;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Oxygen Mono', monospace;
  height: 100vh;
}
